node_modules
dist
yarn-error.log
*.gql

web/public/fotos/perfil/1otaviogsilva/1OTAVIOGSILVA.bmp
web/public/fotos/perfil/1otaviogsilva/1OTAVIOGSILVA.gif
web/public/fotos/perfil/1otaviogsilva/1OTAVIOGSILVA.jpeg
web/public/fotos/perfil/1otaviogsilva/1OTAVIOGSILVA.png
