/* Formatação da tela de login*/

@import url('https://fonts.googleapis.com/css?family=Numans');


body,html{
/*background-image: url('http://getwallpapers.com/wallpaper/full/3/7/9/260666.jpg#.X7avUlV_u00.link');*/
background-color: rgb(187, 186, 187);
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
color: white;
}

.container{
height: 100vh;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 20px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
position: absolute;
top:50%;
left:60%;
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
position: absolute;
top:65%;
color: black;
background-color: #FFC312;
width: 100%;
}

.login_btn:hover{
color: black;
filter:brightness(1.1);
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

/* Formatação da tela de cadastro */

.input-date {
    width: 190px;
    left: 50px;
}

.input-group-date{
    width: 20px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
    }

    .cad{
        height: 500px;
        margin-top: auto;
        margin-bottom: auto;
        width: 400px;
        background-color: rgba(0,0,0,0.5) !important;
        }

.h1-home {
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    text-align: center;
}


.h1-404 {
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    text-align: center;
}

.center {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display:flex;
    flex-direction: column;
    align-items: center;
}

svg {
    margin-top: 2px;
    height:149px;
    width: 170px;
}

.hexaFotoUsr {
cursor: pointer;
position: absolute;
right:20px;
float:right;
}

.hexaFotoUsr:hover,
:focus {
    filter: brightness(1.20)
}

.hexaInsereFotoPerfil {
    z-index:1;
    height: 149;
    /* height:294px; */
    width:  170;
    /* width: 336px; */
}
